<launch>
  <arg name="simulation"/>
  <arg name="gazebo" default="false"/>

  <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
    args="0 0 0 0 0 0 1 world odom"
    />

  <group ns="box">
    <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/box_with_qr.urdf"/>
    <param name="tf_prefix" value="skin"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
    <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
      args="0 0 0 0 0 0 1 world box/base_link"
      />
  </group>


  <!-- Gazebo -->
  <!--<group if="$(arg gazebo)" ns="gazebo">
    
      <include file="$(find gerard_bauzil)/launch/table_140_70_73.launch">
          <arg name="prefix" value="sim_table" />
      </include>
      <include file="$(find gerard_bauzil)/launch/table_140_70_73.launch">
          <arg name="prefix" value="sim_table_rviz" />
      </include>

      <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
      args="-file $(find gerard_bauzil)/urdf/table_140_70_73.urdf -urdf
      -x 0. -y 0. -z 0. -Y 1.57
      -model table" />

    <node name="sim_box_rviz" pkg="tf2_ros" type="static_transform_publisher"
          args="0 0 0 0 0 0 1 sim_box/base_link sim_box_rviz/base_link"
    />

     <node name="spawn" pkg="gazebo_ros" type="spawn_model"
         args="-file $(find gerard_bauzil)/urdf/box_with_qr.urdf -urdf 
              -x 0.2 -y -0.0 -z 1.932 -R 0.0 -P 0.0 -Y 1.57
              -model box" />

  </group>
   -->

  <!-- Simulation -->
  <group if="$(arg simulation)" ns="simulation">

    <group ns="box">
      <param name="robot_description" textfile="$(find gerard_bauzil)/urdf/box_with_qr.urdf"/>
      <param name="tf_prefix" value="box_rviz"/>
      <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" />
        <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
        args="0 0 0 0 0 0 1 box/base_link box_rviz/base_link"
        />
    </group>

    <!--node name="simulation" pkg="agimus-sot" type="simulation.py" args="_tf_prefix:=sim_" /-->
    <!-- <node name="simulation" pkg="tf2_ros" type="static_transform_publisher"
      args="0.037999999999100344 0.010000000000804704 0.21657500000013716 0.49999999999994843 0.50000000000250011 0.49999999999994832 -0.49999999999760331
      arm_7_link driller/base_link" /> -->
    <node name="simulation_gui" pkg="rqt_gui" type="rqt_gui"
      args="--standalone rqt_agimus.simulation.Simulation --args
      --tf-editor box/base_link box_rviz/base_link"
      />
  </group>

</launch>
