<launch>
  <arg name="simulation"/>
  <arg name="gazebo" default="true"/>

  <node name="to_tf_2" pkg="tf2_ros" type="static_transform_publisher"
    args="0 0 0 0 0 0 1 world odom"
  />


  <!-- Gazebo -->
  <group if="$(arg gazebo)" ns="gazebo">

      <include file="$(find gerard_bauzil)/launch/table_140_70_73.launch">
          <arg name="prefix" value="sim_table" />
      </include>
      <include file="$(find gerard_bauzil)/launch/table_140_70_73.launch">
          <arg name="prefix" value="sim_table_rviz" />
      </include>

      <node name="spawn_table" pkg="gazebo_ros" type="spawn_model"
      args="-file $(find gerard_bauzil)/urdf/table_140_70_73.urdf -urdf
      -x 0. -y 0. -z 0. -Y 1.57
      -model table" />

    <node name="sim_box_rviz" pkg="tf2_ros" type="static_transform_publisher"
          args="0 0 0 0 0 0 1 sim_box/base_link sim_box_rviz/base_link"
    />

     <node name="spawn" pkg="gazebo_ros" type="spawn_model"
         args="-file $(find gerard_bauzil)/urdf/box_with_qr.urdf -urdf 
              -x 0.2 -y -0.0 -z 1.932 -R 0.0 -P 0.0 -Y 1.57
              -model box" />


  </group>

</launch>
